$blue: #213F7D;
$grey: #545F7D;
$teal: #39CDCC;

body {
    font-family: 'work sans'
}

.dashboard { 
    display: flex;
    flex-direction: column;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px 30px 30px 30px;
    box-shadow: 3px 0px 20px 0px rgba(0, 0, 0, 0.04);
}

.left {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
}

.search {
    display: inline-block;
    height: 40px;
    width: 400px;
    border: 1px solid;
    box-sizing: content-box;
    border-color: rgba(84, 95, 125, 0.3);
    padding: 0px;
    border-radius: 8px;
    font-size: 14px;
}

.docs {
    color: $blue;
}

.sidebar {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-left: 30px;
}

.nav-item {
    padding: 14px 14px 14px 0px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 16px;
}

.nav-item span {
    color: $blue;
    font-weight: 400;
}

.label {
    padding-bottom: 8px;
    font-size: 12px;
    font-weight: 500;
    color: $grey;
}

.top {
    padding-top: 16px;
}

.section {
    display: flex;
    flex-direction: column;
    gap: 0px;
}